/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.container {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.left {
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  max-width: 500px;
  padding:20px;


  height: 700px;            
  overflow-y: auto;      
  border: 1px solid #ccc; 
    
}

.right {
  flex: 1;
}

.draggable-box,
.empty-box {
  width: 95px;
  height: 75px;
  background-color: #FFFA96;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  margin: 5px;
  cursor: grab;
  font-size:12px;
  padding:5px;
  color:black;
  font-family: Arial;
  font-size:14px
}

.empty-box {
  background-color: transparent;
  border: 1px dashed #aaa;
}


.center-divider {
  width: 2px;
  background-color: black;
  margin: 0 10px;
}


.pyramid-grid {
  display: grid;
  grid-template-columns: repeat(9, 60px);
  gap: 60px;
  justify-content: center;
}

.pyramid-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pyramid-box {
  width: 95px;
  height: 75px;
  background-color: #f2f2f2;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;

}

.pyramid-box.filled {
  background-color:lightblue;
  font-size: 14px;
  padding:5px;
  overflow: hidden;
  font-family: Arial;
}

.pyramid-box.invisible {
  visibility: hidden;
}

.score-row {
  margin-bottom: 10px;
}

.score-cell {
  width: 60px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  color: #333;
  line-height: 30px;
}


.generate-btn {
  margin-top: 20px;
  padding: 9px 15px;
  background: #2851CF;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  font-size: 15px;
}

.generate-btn:hover {
  background: #0056b3;
}

.json-output {
  margin-top: 10px;
  background-color: #222;
  color: #0f0;
  padding: 10px;
  font-size: 14px;
  max-height: 300px;
  overflow-y: auto;
}
.submit{
  text-align: center;
}

.logout-btn {
  padding: 9px 15px;
  background-color: #FD6306;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 23px;
  margin-top: -11px;
}
.logout-btn:hover{
  background-color: #ba0000;
}

/* FOR FORM */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: #f9f9f9; /* Light background for contrast */
}

.form-container {
  width: 700px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.header-label {
  color:black;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}


.required {
  color: red;
  font-weight: bold;
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-row label {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;

}

input, select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.btn-submit {
  text-align: right;
  margin-top: 20px;
}

.btn-submit button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit button:hover {
  background-color: #0056b3;
}



/* THankyou Page */

.thankyou-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  font-family: Arial, sans-serif;
}

.thankyou-box {
  background: #fff;
  padding: 40px 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  animation: fadeIn 1s ease-in-out;
}

.checkmark {
  font-size: 60px;
  color: #28a745;
  margin-bottom: 15px;
  animation: pop 0.5s ease-in-out;
}


.thankyou-box h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}


.thankyou-box p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}


.thankyou-box button {
  background-color: #28a745;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.thankyou-box button:hover {
  background-color: #218838;
}

.header {
  /* position: fixed; */
  background-color: white;
  width: 95%;
  max-width: 900px;
  margin-left: 10px ;
  height: 70px;
  padding: 0 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
   /* z-index: 1000; */
}

.header-left .logo {
  height: 40px;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-btn {
  background-color: #FD6306;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
  font-family: Arial;
}

.header-btn-submit {
  background-color: #2851CF;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
  font-family: Arial;
  margin-left:30px;
}

.header-btn-submit:hover {
   background-color: #002791;
}

.header-btn:hover {
  background-color: #ab4404;
}


.select-statement-section {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 10px;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); */
  /* background-color: #f8f9fa; */
  padding: 0;
  overflow: hidden;
  font-size:14px;
  font-family: Arial;
}

.select-header {
  color: black;
  font-size: 20px;
  font-weight: 600;
  /* padding: 16px 24px; */
  text-align: center;
}

.select-content {
  /* padding: 20px 24px; */
  font-size: 14px;
  color: black;
  line-height: 1.6;
}

.sort-statement-section {
  width: 95%;
  max-width: 1200px;
  margin: 5px;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
}

.sort-header {
  /* background-color: #007bff; */
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.sort-content {
  /* padding: 20px 24px; */
  font-size: 14px;
  color: black;
  line-height: 1.6;
  font-family: Arial;
}




@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pop {
  0% { transform: scale(0); }
  80% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
